*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---------Nav Bar--------------*/
.flex-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    background: #f9f9f9;
    position: sticky;
    z-index: 10;
    top: 0;
}
.nav-left{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.nav-left .logo{
    width: 150px;
    margin-left: 20px;
}
.nav-middle .search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin-right: 20px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
     width: 600px;
     border: 0;
     outline: 0;
     background: transparent;
    
}
.nav-middle .search-box img{
    width: 25px;
}
.nav-right img{
    width: 40px;
   margin-right: 20px;
   cursor: pointer;
}
.nav-right .user-logo{
    border-radius: 50%;
}
/*------side Bar---------*/
.side-bar .links button , img{
    width: 20px;
    margin-right: 10px;
}
.side-bar{
    width: 15%;
    height: 100vh;
    position: fixed;
    padding-top: 80px;
    top: 0;
    background: #fff;
    padding-left: 2%;
    box-shadow: 2px 0 0 gray;
    background: rgb(255, 255, 255);
}
.links a{
    display: flex;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
    text-decoration: none;
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    font-size: 20px;
}
.side-bar button{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 180px;
    border-radius: 20px;
    background-color: skyblue;
    cursor: pointer;
}
.links a:hover{
    background-color: aqua;
    width: 100%;
    border-radius: 20px;
}
.side-bar button:hover{
    box-shadow: 10px 5px 5px gray;
}
.likns-right{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 40px;
    width: 5%;
    margin-left:1670px 
 }
 
 .container1 {
    width: 80vw;
    margin-bottom:100px ;
    margin-left: 280px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .header {
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  .email-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .email-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .email-item:hover {
    background-color: #f6f6f6;
  }
  .email-checkbox {
    margin-right: 15px;
  }
  .email-sender {
    font-weight: bold;
    color: #1a73e8;
    flex: 1;
  }
  .email-subject {
    font-weight: normal;
    flex: 2;
    color: #3c4043;
  }
  .email-snippet {
    color: #5f6368;
    flex: 3;
  }
  .email-time {
    color: #70757a;
    flex: 1;
    text-align: right;
  }
